.contact-form {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 50px;

    .left {
        width: 50%;
        // padding-top: 50px;
        // padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .heading-section {
            // margin-top: 50px;
            margin-right: auto;
    
            .title {
                display: flex;
                padding: 10px 20px;
                background: rgb(198,161,66);
                border-radius: 10px;
                width: 150px;
                align-items: center;
                justify-content: center;
                // width: auto;
                // margin-right: auto;
                // margin-left: auto;
    
                h3 {
                    font-size: 16px;
                    color: white;
                }
            }
    
            .sub-title {
                margin-top: 30px;
    
                h1 {
                    font-size: 40px;
                }

                p {
                    margin-top: 20px;
                }
            }
        }

        .form-container {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            // grid-template-columns: repeat(2, 1fr);
            // gap: 20px;
            width: 100%;

            .sameline {
                display: flex;
                flex-direction: row;
                gap: 20px;

                .error-message {
                    width: 100%;
                    font-size: 14px;
                    color: red;
                    margin-top: -10px;
                }
            }

            .form-group {
              position: relative;
              display: flex;
              align-items: center;
              background: #fafafa;
              padding: 15px;
              border-radius: 10px;
              border: 1px solid #e4e4e4;
              color: gray;
              width: 100%;
              height: 100%;
              
              input, select, textarea {
                flex: 1;
                border: none;
                background: transparent;
                font-size: 16px;
                outline: none;
                padding-right: 10px;
              }
          
              select {
                cursor: pointer;
              }
          
              textarea {
                width: 100%;
                height: 80px;
                resize: none;
              }
          
              .icon {
                font-size: 18px;
                color: #c6a142;
              }
            }
          
            // Make the last textarea take full width
            .form-group:last-child {
              grid-column: span 2;
            }

            .form-group:hover {
                // background: gray;
                color: white;
            }
        }

        .button-div {
            margin-right: auto;

            .btn {
                width: 180px;
            }
        }
    }

    .right {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }
}

@media (max-width: 1150px) {
    .contact-form {
        flex-direction: column;

        .left, .right {
            width: 100%;
            }
    }
}

@media (max-width: 768px) {
    .contact-form {
        .left {
            .heading-section {
                .sub-title {
                    h1 {
                        font-size: 30px;

                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .contact-form {
        padding-top: 20px;
        gap: 30px;
        
        .left {
            .form-container {
                .sameline {
                    flex-direction: column;
                }
            }
        }
    }
}